/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 120px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}


a {
    color: #fff;
    text-decoration: none;
}

.nav-ul {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.t-red {
    color: red;
}

.t-b {
    text-decoration: line-through;
}

p {
    margin: 3px 0;
}

h3 {
    text-transform: uppercase;
}

.price {
    padding-bottom: 20px;
    font-size: 0.8rem;
}

.red-s {
    background-color: red;
}

.green-s {
    background-color: green;
}

.square.l55 {
    left: 55px;
}


.square {
    position: absolute;
    top: 75%;
    padding: 5px 10px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
}


/* Utilis */
.border {
    border: 2px dashed black;
}

/* Header */
header {
    background-color: #ff6900;
    box-shadow: 4px 4px 4px gray;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}

#logo {
    max-height: 100%;
    width: auto;
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    height: 80px;
}

.navbar>* {
    flex-basis: 20%;
}

.navbar-logo {
    flex-grow: 1;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.navbar-actions ul {
    justify-content: flex-end;
}

/* Main */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col {
    flex-basis: calc(100% / 3);
    padding: 10px;
    position: relative;
}

.card-image {
    max-width: 100%;
    display: block;
}

.card {
    position: relative;
}

.favorite {
    position: absolute;
    right: 0;
    top: 15px;
    padding: 10px 15px;
    background-color: #fff;
    color: black;
    font-size: 1.5rem;
    z-index: 1;
}

.img-hv {
    display: none;
}

.favorite:hover {
    color: red;
}

.card:hover .img-hv {
    position: absolute;
    top: 0;
    bottom: 80px;
    left: 0;
    right: 0;
    display: inline-block;
}

/* Footer */
footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-ul {
    display: flex;
    padding: 10px 0;
    gap: 5px;
}

.footer-ul li a i {
    font-size: 22px;
}