/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 100px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-height: 100%;
    width: auto;
}

a {
    color: #fff;
}

.nav-ul {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

/* Utilis */
.border {
    border: 2px dashed black;
}

/* Header */
header {
    background-color: #ff6900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    height: 80px;
}

.navbar>* {
    flex-basis: 20%;
}

.navbar-logo {
    flex-grow: 1;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.navbar-actions ul {
    justify-content: flex-end;
}